.balance {
	display: grid;
	grid-template-rows: 50px;
	grid-template-areas: 'all all' 'income expenses';
	margin: 0 auto;
	width: 350px;
	min-height: 150px;
	background-color: #fff;
	border-radius: 27px;
	color: #333;

	&__all {
		grid-area: all;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 10%;
			width: 80%;
			border-bottom: 1px solid #c4c4c4;
		}
		&-title {
			font-weight: 600;
		}
		&-meaning {
			font-weight: 700;
		}
	}
	&__income {
		grid-area: income;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 10px;
		border-right: 0.5px solid #c4c4c4;
		&-title {
			font-weight: 600;
		}
		&-meaning {
			color: green;
		}
	}
	&__expenses {
		grid-area: expenses;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 10px;
		position: relative;
		&-title {
			font-weight: 600;
		}
		&-meaning {
			color: red;
		}
	}
}