body {
	margin: 50px 0;
	font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #ede4e4;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

//Header
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	&__title {
		font-size: 28px;
		font-weight: 700;
	}
	&__subtitle {
		font-weight: 700;
	}
}

//Balance
.balance {
	display: grid;
	grid-template-rows: 50px;
	grid-template-areas: 'all all' 'income expenses';
	margin: 0 auto;
	width: 350px;
	min-height: 150px;
	// border: 1px solid #333;
	background-color: #fff;
	border-radius: 27px;

	&__all {
		grid-area: all;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 10%;
			width: 80%;
			border-bottom: 1px solid #c4c4c4;
		}
		&-title {
			font-weight: 600;
		}
		&-meaning {
			font-weight: 700;
		}
	}
	&__income {
		grid-area: income;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-right: 0.5px solid #c4c4c4;
		&-title {
			font-weight: 600;
		}
		&-meaning {
			color: green;
		}
	}
	&__expenses {
		grid-area: expenses;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-left: 0.5px solid #c4c4c4;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 80%;
			border-right: eegg 1px solid #c4c4c4;
		}
		&-title {
			font-weight: 600;
		}
		&-meaning {
			color: red;
		}
	}
}

//Story
.story {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
	max-height: 250px;
	margin: 0 auto;
	overflow: scroll;
	&__title {
		font-weight: 700;
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	&__item-income {
		display: flex;
		justify-content: space-between;
		width: 303px;
		padding: 10px 20px;
		border-top: 1px solid #222;
		border-bottom: 1px solid #222;
		border-radius: 10px;
	}
	&__item-expenses {
		display: flex;
		justify-content: space-between;
		width: 303px;
		padding: 10px 20px;
		border-top: 1px solid #222;
		border-bottom: 1px solid #222;
		border-radius: 10px;
	}
}
.receivedBy {
	border-left: 7px solid green;
	border-right: 7px solid green;
}
.spentOn {
	border-left: 7px solid red;
	border-right: 7px solid red;
}

//Operation
.operation {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 350px;
	background: #c4c4c4;
	border-radius: 27px;
	padding-bottom: 20px;
	margin: 0 auto;
	&__title {
		font-weight: 700;
	}
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		width: 75%;
		padding: 0 15px;
	}
	&__form--num,
	&__form--text {
		width: 100%;
		height: 25px;
		border-radius: 6px;
		border: none;
	}
	&__buttons {
		display: flex;
		justify-content: space-around;
		& button {
			border: none;
			color: #fff;
			font-weight: 600;
			text-transform: uppercase;
			padding: 10px 25px;
			border-radius: 10px;
		}
	}
	&__buttons--income {
		background: rgb(0, 128, 0);
		&:hover {
			background: rgba(0, 128, 0, 0.5);
		}
	}
	&__buttons--expenses {
		background: rgb(225, 0, 0);
		&:hover {
			background: rgba(255, 0, 0, 0.5);
		}
	}
}
